@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,600&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: bisque;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.title {
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
}

.hidden {
  display: none;
}

#eachList {
  position: absolute;
  top: 12vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-top: 12px;
  width: 90%;
  max-width: 750px;
  min-width: 350px;
  margin-bottom: 15%;
  background-color: rgb(49, 47, 43);
  box-shadow: 7px 5px 5px black;
}

.section {
  width: 65%;
}

.todo-today,
.add-items,
.completed,
.added-items {
  display: flex;
  justify-content: space-between;
  padding: 16px 10px;
  background-color: #fff;
}

li button,
.todo-today button,
.add-items button,
.completed button {
  border: none;
  background-color: #fff;
  color: grey;
  cursor: pointer;
  padding: 6px;
}

.add-items button {
  border: 1px solid brown;
  border-radius: 2px;
  background-color: bisque;
}

.add-items input,
li input[type='text'] {
  border: 1px solid #000;
  border-radius: 2px;
  width: 95%;
  height: 24px;
  font-style: italic;
  font-size: 16px;
  padding: 6px;
}

/* Added Item Style */
.added-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li input[type='text'] {
  border: none;
  width: 92%;
}

li input[type='text']:hover {
  border: 1px solid #000;
}

.each-task {
  padding: 12px 10px;
  display: flex;
  justify-content: space-between;
}

.inputs {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

input[type="checkbox"] {
  border: 3px solid gray;
}

.each-task button {
  font-size: 18px;
}

.completed {
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clear-all {
  font-family: 'Poppins', sans-serif;
}

.clear-all:hover {
  color: grey;
  text-decoration: underline;
  cursor: pointer;
}
